<ion-view view-title="Playlists">
    <ion-content>
        <div class="logo-wrapper text-center">
            <img class="logo" src="img/pixolo_logo.png">
        </div>
        <div class="content-wrapper login-active">

            <div class="content-heading">
                <a class="login-heading heading" ng-click="changeform('login', 'signup')">login</a>
                <a class="signup-heading heading" ng-click="changeform('signup', 'login')">sign up</a>
            </div>
            <div class="form-wrapper text-center">
                <div class="login-form  form-content">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="password">
                    <a>forget password ?</a>
                    <div class="form-btn login">login</div>

                </div>
                <div class="signup-form form-content">
                    <input type="text" placeholder="Username">
                    <input type="email" placeholder="Email">
                    <input type="password" placeholder="password">
                    <input type="password" placeholder="confirm password">

                    <div class="form-btn login">sign up</div>

                </div>



            </div>


        </div>

        <div class="signup-button-option text-center">

            <span>don't have an account ?</span><a>sign up</a>

        </div>
    </ion-content>
</ion-view>
