.logo-img {
    width: 70% !important;
    padding-top: 12% !important;
}

.bg-style {
    background: linear-gradient( #56a0fe, #d76fb9);
    position: relative;
    width: 100%;

}



.login-wrapper {
    @extend .bg-style; //    @extend .wrapper-heading;
    line-height: 65vh;
    border-radius: 40px;
    box-shadow: 10px 10px 8px #d4d2d2;
    transform: translate(-50%, 0);
    .wrapper-heading {
        color: white;
        font-size: 1.8em;
        text-transform: capitalize;
        font-weight: 340;
        margin-left: 50%;
    }
}

//.signup-wrapper {
//    @extend .bg-style; //    @extend .wrapper-heading;
//    line-height: 65vh;
//    border-radius: 40px;
//    box-shadow: 10px 10px 8px #d4d2d2;
//    .wrapper-heading {
//        color: white;
//        font-size: 1.8em;
//        text-transform: capitalize;
//        font-weight: 340;
//
//    }
//}
