.logo-wrapper {
    .logo {
        width: 80%;
        padding: 10%;
    }
}

.content-wrapper {
    position: relative;
    height: 70vh;
    .content-heading {
        font-size: 1.5em;
        text-transform: capitalize;
        font-weight: 330;
        margin-top: 6%;
        a {
            color: black;
            transition: 0.4s;
        }
    }
    .signup-heading {
        float: right;
        margin-right: 5%;
        padding-top: 10%;
    }
    .login-heading {
        float: left;
        margin-left: 5%;
        padding-top: 10%;
    }


}

.content-wrapper::before {
    content: "";
    width: 100%;
    height: 70vh;
    position: absolute;
    top: -25px;
    z-index: -1;
    background: linear-gradient(to bottom left, #55a0fe, 35%, #f660a4);
    border-radius: 40px;
    box-shadow: 2px 8px 18px #c3c3c3;
    transition: 0.4s ease-in-out;
}

.login-active {
    .content-heading {
        .login-heading {
            color: white;
        }
    }
    &:before {
        transform: translate(-50%, 0);
    }
}

.signup-active {
    .content-heading {
        .signup-heading {
            color: white;
        }
    }
    &:before {
        transform: translate(50%, 0);
    }
    .form-wrapper {
        &:before {
            right: 20%;
        }
    }
}

.signup-button-option {
    span {
        font-size: 1em;
        text-transform: capitalize;
        margin-right: 8px;
        color: #bbbaba;
    }
    a {
        text-transform: uppercase;
        font-size: 1.2em;
        color: #f660a4;
        font-weight: 500;
    }
}


.form-wrapper {
    width: 90%;
    position: absolute;
    top: 20%;
    height: 250px;
    left: 5%;
    input[type="email"],
    input[type="password"],
    input[type="text"],
        {
        border-bottom: 1px solid #d2cccc;
        width: 100%;
        font-size: 1em;
        padding: 3% 3%;
        font-weight: 300;
    }

    &:before {
        content: "";
        position: absolute;
        right: 60%;
        z-index: 1;
        /* box-shadow: 0px -1px 14px 0px #848181; */
        transition: 0.4s right;
        border: transparent 32px solid;
        border-bottom: 30px white solid;
        top: -24%;
        background: transparent;
        width: 1px;

    }

}

.wave-svg {
    margin-bottom: -5px;
}

.form-btn {
    width: 40%;
    padding: 3% 0%;
    background: linear-gradient(to right, #55a6fe, #5efaf2);
    border-radius: 40px;
    color: white;
    text-transform: capitalize;
    font-size: 1.2em;
    box-shadow: 1px 3px 2px #a09494;
    position: absolute;
    bottom: -12%;
    left: 50%;
    transform: translate(-50%);


}

.form-content {
    background-color: white;
    border-radius: 15px;
    padding-bottom: 150px;
    padding: 5%;
    opacity: 0;
    padding-bottom: 80px;
    box-shadow: 2px 5px 20px 0px #848181;
    transform: scale(1.1);
    transform-origin: 50% 0%;
    transition: 0.3s all;
    background: url(../img/wave.svg) center bottom no-repeat white;
    background-size: 130%;
    a {
        color: #d2cccc;
        text-transform: capitalize;
        font-size: 1.15em;
        top: 10px;
        float: right;
    }
}

.login-form {
    opacity: 1;
    transform: scale(1);
}
   
.signup-form {
    //display: none;
    opacity: 0;
    transform: scale(0.8);
}
