/*Spacing*/

.p-0 {
    padding: 0 !important;
}

.pr-0 {
    padding-right: 0 !important;
}


/*Positioning*/

.text-center {
    text-align: -webkit-center !important;
}

.float-left {
    float: left;
}
.float-right {
    float: right;
}

/*Ionic Fixes*/
.backdrop{
    border-radius: 0 !important;
}
/*Common Classes*/
