/*COLORS*/

$primary-color: #c0c0c0;
$secondary-color: #363636;

$white: white;
$red: red;
$green: #36e06f;
$blue: blue;

$font-dark: black;
$font-light: #444;

/*FONT*/
@font-face {
    font-family: cera;
    src: url(../fonts/CeraGR.otf);
}

/*INCLUDE FONT*/
%cera-font {
  font-family: cera !important;
}
/* Use by copying -- @extend %cera-font; -- into a class */